.brand-frame {
    height: 100%;
    position: relative;
    top: 90px;
    font-family: 'Montserrat', monospace;

    scroll-behavior: smooth;
}

.addbrand {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.addbrand-btn {
    width: 100px;
    align-self: center;
}

.addshoe {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.addshoe-btn {
    width: 100px;
    align-self: center;
}

.shoecontent {
    display: flex;
    width: 350px;
    flex-direction: row;
    justify-content: space-between;
}

.scroll-to-top-btn {
    height: 60px;
    width: 60px;
    z-index: 1000;

    border: none;
    border-radius: 30px;

    position: fixed;
    bottom: 50px;
    right: 50px;

    background-color: #99202a;
    box-shadow: 1px 1px 5px black;

}

.scroll-to-top-btn img {
    height: 100%;
    width: 100%;
}