body {
    height: 3000px;
    overflow-x: hidden;
    background-color: white;
    padding-left: 200px;
}

#root {
    margin: 0;
    padding: 0;
    text-align: inherit;
    color-scheme: light;
    background-color: white;
    color: black;
    line-height: 1;

}

p {
    font-family: 'Roboto',Arial;
    color: black;
}