body {
    height: 3000px;
    overflow-x: hidden;
    padding-left: 130px;
    padding-right: 130px;
}

p {
    font-family: 'Roboto',Arial;
}

.offer {
    font-family: 'Ubuntu Sans Mono';
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: bold;

    padding: 5px;
    margin: 0;
    text-align: center;
    /* border-bottom: 1px solid white; */

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 30px;
}

.offer p:hover {
    cursor: pointer;
    text-decoration: underline;
}