.main-area {
  height: 3000px;
  position: absolute;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
}

.scrollable-pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.images {
  width: 7000px;
  max-height: 600px;
}


