.products-container {
    display: flex;
    align-items: center;
    position: relative;
}

.adminproducts {
    height: 350px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 8px;
}

.adminproducts::-webkit-scrollbar {
    display: none;
}

.adminscroll-btn {
    background-color: white;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminscroll-btn img {
    width: 35px;
    height: 35px;
}

.adminscroll-btn.left {
    position: absolute;
    left: 0;
    z-index: 1;
}

.adminscroll-btn.right {
    position: absolute;
    right: 0;
    z-index: 1;
}

.adminproduct {
    height: 250px;
    width: 250px;
    box-shadow: 1px 1px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.imgg {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    pointer-events: none;
    object-fit: cover;
}

.imgdiv {
    position: relative;
}

.imgdiv .deleteicon {
    position: absolute;
    right: 5px;
    top: 5px;

    width: 20px;
    height: 20px;

    background-color: #99202a;
    border-radius: 50%;

    margin: 5px;
    padding: 5px;

    cursor: pointer;
    object-fit: cover;
}

.imgdiv .editicon {
    position: absolute;
    left: 5px;
    top: 5px;

    width: 20px;
    height: 20px;

    background-color: #8ba2bd;

    margin: 5px;
    padding: 5px;

    cursor: pointer;
    object-fit: cover;
}


.adminproduct p {
    font-family: "Montserrat", monospace;
    font-size: 15px;
    font-weight: bold;
}

/*.product:hover {*/
/*    height: 300px;*/
/*    transition: 0.3s;*/
/*    opacity: 60%;*/
/*}*/

.admin-products-retro {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
}

.admin-product-retro {
    height: 250px;
    width: 300px;
    box-shadow: 1px 1px 5px black;
    margin: 0;
    padding: 0;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.admin-product-retro img {
    height: 250px;
    width: 300px;
    border-radius: 15px;
    background-color: whitesmoke;
    object-fit: cover;
}

.admin-productname {
    font-family: 'Ubuntu Sans Mono', monospace;
    font-size: 18px;
    font-weight: bold;
}

.admin-product-retro:hover {
    height: 300px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 60%;
}
